:root {
  --color-accent: oklch(65% 50% 0);
  accent-color: var(--color-accent);
}
html {
  color-scheme: light dark;
}
body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto;
    padding: 1rem;
  }

nav ul,
nav li {
  display: contents;
}
nav {
  display: flex;
  margin-bottom: 1em;
  --border-color: oklch(50% 10% 200 / 40%);
  border-bottom: 1px solid var(--border-color);
}
nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}

nav a.current {
  border-bottom: 0.4em solid oklch(90% 3% 200); 
  padding-bottom: 0.1em;
}

nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  padding-bottom: 0.1em;
}
form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

label {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

input,
textarea 
select{
  grid-column: 2;
  font: inherit;
  box-sizing: border-box;
}

button {
  grid-column: 1 / -1;
  font: inherit;
}
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}

article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
}

h2 {
  margin: 0;
}
h1 {
  font-size: 400%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}
.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
  font-family: inherit;
}

#profile-stats dl {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 8px;
  font-family: sans-serif;
}

#profile-stats dt {
  grid-row: 1;
  font-weight: bold;
  text-align: center;
}

#profile-stats dd {
  grid-row: 2;
  margin: 0;
  text-align: center;
}
.project-year {
  color: gray;
  font-family: Baskerville, serif;
  font-variant-numeric: oldstyle-nums;
  margin-top: 0.25em;
}
#projects-pie-plot {
  max-width: 20em;
  margin-block: 2em;
  overflow: visible;
}

.container {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.legend {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 1rem 2rem;
  padding: 1.5rem;
  border: 1px solid white;
  width: 100%;
  max-width: 600px; /* keeps it wrapped at first */
  box-sizing: border-box;
}


.legend-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  white-space: nowrap;
}


.swatch {
  width: 1em;
  height: 1em;
  background-color: var(--color);
  border-radius: 0.2em;
  display: inline-block;
}
